<!--<!DOCTYPE html>-->
<!--<html lang="ko" xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>아이디 찾기 결과</title>-->
<!--</head>-->

<!--<body>-->
<!--<h2>아이디 찾기 결과</h2>-->
<!--<hr/>-->
<!--<br/>-->
<!--<div>-->
<!--    <h3>아이디 찾기 결과</h3>-->
<!--    <p th:text="${rDTO.userName}"></p>의 님의 아이디는-->
<!--    <p id="maskedUserId"></p>-->
<!--</div>-->



<!--<script th:inline="javascript">-->
<!--    /*<![CDATA[*/-->
<!--    // 아이디를 가려서 반환하는 함수-->
<!--    function maskId(userId) {-->
<!--        var length = userId.length;-->
<!--        var maskedPart = userId.substring(0, length - 2); // 마지막 2글자를 제외한 부분-->
<!--        var maskedId = maskedPart + '**'; // 마지막 2글자를 **로 대체-->
<!--        return maskedId;-->
<!--    }-->

<!--    // 클라이언트 측에서 아이디를 마스킹하여 표시-->
<!--    var userId = /*[[${rDTO.userId}]]*/ '';-->
<!--    var maskedUserId = maskId(userId);-->
<!--    document.getElementById('maskedUserId').innerText = maskedUserId;-->
<!--    /*]]>*/-->
<!--</script>-->
<!--</body>-->
<!--</html>-->
<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>아이디 찾기 결과</title>
</head>

<body>
<h2>아이디 찾기 결과</h2>
<hr/>
<br/>
<div>
    <h3>아이디 찾기 결과</h3>
    <!-- 아이디가 존재하는 경우에만 아이디를 표시 -->
    <th:block th:if="${rDTO.userId != null}">
        <p th:text="${rDTO.userName}"></p>의 님의 아이디는
        <p id="maskedUserId"></p>
    </th:block>

    <!-- 아이디가 존재하지 않는 경우 -->
    <th:block th:unless="${rDTO.userId != null}">
        일치하는 결과가 없습니다.
    </th:block>
</div>

<script th:inline="javascript">
    /*<![CDATA[*/
    // 아이디를 가려서 반환하는 함수
    function maskId(userId) {
        var length = userId.length;
        var maskedPart = userId.substring(0, length - 2); // 마지막 2글자를 제외한 부분
        var maskedId = maskedPart + '**'; // 마지막 2글자를 **로 대체
        return maskedId;
    }

    // 클라이언트 측에서 아이디를 마스킹하여 표시
    var userId = /*[[${rDTO.userId}]]*/ '';
    var maskedUserId = maskId(userId);
    document.getElementById('maskedUserId').innerText = maskedUserId;
    /*]]>*/
</script>
</body>
</html>


